<form action="/store/add" method="POST">
    <div>
        <label for="input-id">Store ID:</label>
        <input type="text" name="id" id="input-id" class="form-control">
    </div>
    <br>
    <div>
        <label for="input-doc">Location:</label>
        <input type="text" id="input-doc" name="location" class="form-control">
    </div>
    <br>
    <button class="btn btn-block btn-outline-warning" type="submit">Create</button>
</form>