<a href="/"><< Go back</a>
<br>
<br>
<h3>Store ID: {{store.id}}</h3>
<p>Address: {{store.address}}</p>

<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpSetsRxT4QXc6FTJffCRWdC3rb4zWErc&callback=initMap"
        async defer></script>