body {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 70%;
    margin-top: 20vh;
}

.links {
    float: right;
}

.clear {
    clear: both;
    padding: 40px;
}

a {
    color: #f0ad4e;
}

a:hover {
    color: rgba(240,173,78,0.7);
}

span {
    color: #f0ad4e;
}
